
/* Log In Page */
body{
    background-color: aquamarine;
}

.container-fluid{
    max-width: 1140px;
    padding: 0;
}

/* HEADER */
header div{
}

main{
}


/* Logo */
img.logo{
    width: 200px;
    height: 160px;
    display: block;
    margin: 0 auto;
}
/* Contenedor principal de todos los elementos */
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

h1{
    text-align: center;
}

button{
    display: block;
    width: 100%;
    margin: 5px 0;
}

/* Contenedor de los iconos */
.social-network{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Íconos */
.icon{
    width: 40px;
    height: 40px;
    
}